*.pyc
src/*.pyc
.project
.pydevproject
greedybot.pyc
src/__init__.pyc
src/antpathsearch.pyc
src/antsbot.pyc
src/antsgame.pyc
src/features.pyc
src/game.pyc
src/localengine.pyc
src/logutil.pyc
src/mapgen.pyc
src/maps/2player/my_random.map
src/state.pyc
src/worldsta.pyc
valuebot.pyc